<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="ISO-8859-1">
    <title>TripApp - Listado de Viajes</title>
</head>
<body>
    <h1>Listado de Viajes Disponibles</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre del Destino</th>
                <th>Fecha de Publicación</th>
                <th>Costo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="t : ${viajes}">
			    <td th:text="${t.nombre}"></td>
			    <td th:text="${#dates.format(t.fecha, 'dd/MM/yyyy')}"></td>
			    <td th:text="'$' + ${t.costo}"></td>
			    <td th:text="${t.vigente} ? 'Disponible' : 'Agotado'"></td>
			</tr>
        </tbody>
    </table>
</body>
</html>